*{
	padding: 0;
	margin: 0;
}
body{
	font: normal 13px Tahoma, Verdana, Arial, sans-serif;
	
}
h1{
	font-size: 20px;
}
#divContenedor{
	width: 300px;
	margin: 0 auto;
	padding-top: 40px;
}
	#divInfo{
		text-align: center;
		padding: 10px 0;
	}
	#divMapa{
		height: 400px;
		width: 300px;
		border: solid 1px #ccc;
	}
	#divCoordenadas{
		text-align: center;
		padding: 10px 0;
		font-weight: bold;
		font-size: 16px;
	}